/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1 {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(63, 129, 126, 0.466);
    border-radius: 10px;
    text-align: center;
    color: white; // Change the text color to white
    padding-top: 2%; // Add a padding of 2% 
    padding-bottom: 2%; // Add a padding of 2%
}
h1 h2 h3 {
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size:large;
}