/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1 {
    background-color: rgb(63, 129, 63);
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white; // Change the text color to white
    padding-top: 2%; // Add a padding of 2% 
    padding-bottom: 2%; // Add a padding of 2%
}
